<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
		<h1>User List</h1> 		
	</div>

	<a href="/home"> Back</a> |
	<a href="/logout"> logout</a><br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Address</td>
			<td>Phone Number</td>
			<td>Username</td>
			<td>Password</td>
			<td>Action</td>
		</tr>
		<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].mid %></td>
			<td><%= userlist[i].mname %></td>
			<td><%= userlist[i].maddress %></td>
			<td><%= userlist[i].mphone %></td>
			<td><%= userlist[i].musername %></td>
			<td><%= userlist[i].mpassword %></td>
			<td>
				<a href="/home/delete/<%= userlist[i].mid %>">DELETE</a>  
			</td>
		</tr>
		<% } %>
	</table>
</body>
</html>